Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
Standard:        c++20
IndentWidth:     4
TabWidth:        4
UseTab:          false
ColumnLimit:     120
AlignAfterOpenBracket: Align
BinPackParameters: false
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializersBeforeComma: false
IndentPPDirectives: BeforeHash
SortIncludes:   false